# The database URL will be different depending on the type and where it's hosted.
# Currently it is only needed if DATABASE_SECRETS is set to "yes".
# But this will be required in the future to store information about servers
# like staff roles, welcome/leave channels, and so on.
# Note that the built in SQL driver in Bun currently only supports PostgresSQL
# but this will change in the future. Use the Prisma client and utils for other DBs for now.
DATABASE_URL=""

# Set this to "yes" to load important credentials from the database instead of here.
DATABASE_SECRETS="no"

# Color for embeds, if not specified uses #a059ff
THEME_COLOR="#a059ff"
# The following variables can be omitted if you set
# "DATABASE_SECRETS" to "yes" (above) AND loaded them correctly in the database.
# When loading to the database, set them first here.

# You can get your Discord API credentials from the Developer Portal:
# https://discord.com/developers/applications/
DISCORD_TOKEN= ""
DISCORD_CLIENTID= ""
PUBLIC_KEY= ""

# Required for local development
DISCORD_GUILDID= ""

# Required for the admin commands
DISCORD_OWNERID= ""

# You can get your Pastebin API key from https://pastebin.com/doc_api
PASTEBIN_KEY= ""